# The following lists are not intended to describe all possible moves/ties in their positions.
# They are instead meant to describe moves that initiate offense/scoring.
# The goal of this is to label the move that intend to directly causes a score.
# For example this excludes breakdowns and sprawls as the moves that score come off of those.




#########################
# Neutral Moves
#########################
# Leg Attacks
high crotch
double
blast double
sweep single
snatch single
low single
ankle pick
firemans carry

# Throws & Trips
lat drop
headlock
sag headlock
hip toss
inside trip
outside trip
foot sweep
arm spin
pinch headlock
whizzer kick
salto

# Slick Moves
duck under
super duck
arm drag
shuck
slide by
elbow pass

# Short Offense / Knee to Back Moves
go behind
front headlock
cow catcher
cement mixer
gator roll
head lock
pancake

# Please No
merkle
flying squirrel


#########################
# Top Moves
#########################

# Tilts
two on one tilt
bar arm tilt
ball and chain tilt

# Pinning Combinations / Turns
half nelson
power half
three quarter nelson
bar arm
turk
spladle
guilotine
butcher

# Cradles
near side cradle
far side cradle # Includes cross face cradle


#########################
# Bottom Moves
#########################

stand up
jump up
switch
granby
peterson
sit out
hip heist
quad pod
submarine
roll through

