# The following moves are intended to describe all moves that can occur when either wrestler is attacking
# These are moves exclusively and not positions, for example this list will not include leg riding as that is a position

nothing # For when there is no evident attempt at a move

#########################
# Neutral Moves
#########################
# Leg Attacks
high crotch
double
blast double
sweep single
snatch single
low single
ankle pick
firemans carry
oklahoma

# Throws & Trips
lat drop
headlock
hip toss
inside trip
outside trip
foot sweep
arm spin
pinch headlock
whizzer kick
salto

# Slick Moves
duck under
super duck
arm drag
shuck
slide by
elbow pass

# Short Offense / Knee to Back Moves
go behind
crusher
gator roll
gator baccon
head pinch
pancake
dresser dump
firemans dump
head bowling # go bowling
belly whizzer

# Defensive Moves 
sprawl
chest wrap

# Please No
merkle
flying squirrel

# misc
crotch lift
leg shelf
leg pass
step over

#########################
# Top Moves
#########################

# Tilts
two on one tilt
bar arm tilt
ball and chain tilt
lazy tilt
jonesy tilt

# Pinning Combinations / Turns
half nelson
power half
three quarter nelson
bar arm
turk
spladle
guilotine
butcher
jungle ride

# Cradles
near side cradle
far side cradle # Includes cross face cradle


#########################
# Bottom Moves
#########################

stand up
jump up
switch
granby
peterson
sit out
hip heist
quad pod
knee slide
submarine
roll through
fat man roll
change over 
kick out
leg slip
head hunt

