# The following moves are intended to describe all moves that can occur when either wrestler is attacking
# These are moves exclusively and not positions, for example this list will not include leg riding as that is a position

nothing # For when there is no evident attempt at a specific move

#########################
# Neutral Moves
#########################
# Leg Attacks
high crotch
double
blast double
sweep single
snatch single
low single
ankle pick
knee pick
firemans carry
oklahoma

# Throws & Trips
lat drop
headlock
hip toss
inside trip
outside trip
foot sweep
arm spin
pinch headlock
whizzer kick
salto

# Slick Moves
duck under
super duck
arm drag
shuck
slide by
elbow pass
throw by
shovel snow

# Short Offense / Knee to Back Moves
go behind
crusher
gator roll
gator bacon
head pinch
pancake
dresser dump
firemans dump
head bowling # go bowling
belly whizzer
assassin

# Defensive Moves 
sprawl # All sprawl varieties (i.e., knee spraws and half spraws)
elevator
crotch lock
chest wrap
whizzer
metzger
magic stick
chin whip
lat whip
whip over

# Please No
merkle
flying squirrel

# misc
leg shelf
leg pass
step over
quarter nelson
limp arm

#########################
# Top Moves
#########################

# Breakdowns
chop
spiral ride
claw ride
far knee far ankle
waist ankle
head lever 
thigh pry

# Mat returns
lift mat return
forward trip mat return
backward trip mat return
tilt mat return
tea kettle
crotch lift
broomstick mat return
drop down

# Tilts
two on one tilt
bar arm tilt
ball and chain tilt
cheap tilt
jonesy tilt

# Pinning Combinations / Turns
half nelson
power half
three quarter nelson
reverse half
bar arm
turk
spladle
guillotine
butcher
jungle ride
suck back
# Cradles
near side cradle
far side cradle # Includes cross face cradle


#########################
# Bottom Moves
#########################

stand up
jump up
switch
granby
funk roll
peterson
sit out
hip heist
quad pod
knee slide
submarine
roll through
fat man roll
change over 
kick out
leg slip
head hunt

