# These are the scorebook results that happen because of wrestling action
# This explicitly excludes cautions and unsportsmanlike conduct as those are outside of action
# Stalling will not be treated as earning points as the points come from the context of the match

None  # Nothing, used as full word for python typing

T   # Takedown
E   # Escape: only count earned escapes (ie. no intentional releases, cuts, or optional starts)
R   # Reversal
N2  # Two nearfall
N3  # Three nearfall
N4  # Four nearfall
N5  # Five nearfall
PIN

P1 # Penalty and one point
P2 # Penalty and two points

S # Stalling: give this to the wrestler who forced the call, not who the call was against
