# This file contains both ties and positions
# If you would like to add more moves or positions change this file


#########################
# Neutral Ties
#########################
standing no tie
post
collar tie
club
inside control # Same as tricep control
outside control # Same as elbow control
wrist control
defending wrist control
two on one
defending two on one
russian tie
defending russian tie
underhook
double unders
body lock
over under
overhook # Same as whizzer
double overs
# On Mat
front headlock
waterfall (grounded)
waterfall (lifted)
seatbelt (whizzer)
seatbelt (underhook)


#########################
# Top Positions
#########################
regular ride # for when there is no discernible type of ride
behind a sit out
ankle ride
leg ride
double boots
claw
mat return position


#########################
# Bottom Positions
#########################
sit out
in base
flat
defending legs
